In [9]:
import pandas as pd
import numpy as np

# Create DataFrame

### from csv

In [14]:
df = pd.read_csv('menu_data.csv')
df.head()

,dish,protein,temperature_F,price_USD,spicy,gluten,dairy,tree nuts,peanuts_True,peanuts_False,eggs_True,eggs_False,fish
0,pad thai,egg,160,12.50,4,noodles,NaN,cashew,1,0,1,0,shrimp
1,beef wellington,beef tenderloin,160,17.00,0,puff pastry,butter,NaN,0,1,0,1,NaN
2,chicken parmigiana,chicken,160,15.00,1,breadcrumbs,cheese,NaN,0,1,1,0,NaN
3,coq au vin,chicken,160,14.75,0,NaN,butter,NaN,0,1,0,1,NaN
4,larb,ground beef,35,13.25,3,NaN,NaN,cashew,1,0,1,0,fish sauce

### from Python collections

In [10]:
columns = ['first_name', 'middle_name', 'last_name']
first_names = ['John', 'Kenneth', 'Elizabeth']
middle_names = ['Francis', 'Ellen', 'Miervaldis']
last_names = ['Donaghy', 'Purcell', 'Lemon']

  first_name middle_name last_name
0       John     Francis   Donaghy
1    Kenneth       Ellen   Purcell
2  Elizabeth  Miervaldis     Lemon

In [12]:
#This won't give quite results you expect. Pandas likes to work vector-wise
# by pasting  columns together; it treats your lists as columns.
pd.DataFrame(data = np.array([first_names, middle_names, last_names]), 
             columns = columns)

  first_name middle_name   last_name
0       John     Kenneth   Elizabeth
1    Francis       Ellen  Miervaldis
2    Donaghy     Purcell       Lemon

In [13]:
#Use numpy transpose to reorient your lists into the columns that Pandas wants.
pd.DataFrame(data = np.array([first_names, middle_names, last_names]).T, 
             columns = columns)

  first_name middle_name last_name
0       John     Francis   Donaghy
1    Kenneth       Ellen   Purcell
2  Elizabeth  Miervaldis     Lemon

### from a SQL query

In [ ]:
#Instantiate a session of the ORM
#Connect to the sqlite database file
engine = create_engine('sqlite:///Northwind_small.sqlite', echo = True)
#Bind a session factory to the engine
Session = sessionmaker(bind=engine)
#Instantiate a session
session = Session()

In [ ]:
invoices = pd.read_sql_query('''SELECT od.OrderId,
                            SUM((od.UnitPrice * (1 - od.Discount)) * od.Quantity) Invoice_total
                            FROM OrderDetail od
                            JOIN [Order] o ON od.OrderId = o.Id
                            JOIN Employee e ON o.EmployeeId = e.Id
                            GROUP BY od.OrderId
                            ORDER BY e.LastName
                    ''', engine)

### by making a copy of another DataFrame

In [ ]:
#First import copy in order to be able to 
#make deep copies of mutable objects
import copy 

#Make a deep copy of a DF to prevent 
#making changes to the original
df_copy = df.copy()

from part of another DataFrame

In [ ]:
#Create new DataFrame from a column of another
prices = pd.DataFrame(df['price_USD'])

#Create a new df by concatonating others together
df_concat = pd.concat([df_cat, water_dummies, view_dummies, condit_dummies, zip_dummies], axis=1)
#The above dfs had the same number of rows and were concatonated along the columns axis

# First look

"Head": display first 5 rows of df

In [ ]:
df.head() #show more or fewer rows by specifying a row attribute

"Describe": get 5-point stats for all columns with numerical data

In [ ]:
df.describe()

"Shape": return tuples of numbers of rows and columns

In [ ]:
#Returns tuple with the number of rows & colum ns
print(df.shape)
#Returns just the number of rows
print(df.shape[0])
#Returns just the number of columns
print(df.shape[1])

"Info": summary of the contents of all columns

In [ ]:
df.info()

# Nulls

Get total number of null values in a given column

In [ ]:
f_raw['waterfront'].isna().sum()

Replace nulls

In [ ]:
df_raw['view'].fillna(0) #Fill null values with 0

# Columns

Get list of names of columns

In [6]:
df.columns

Index(['dish', 'protein', 'temperature_F', 'price_USD', 'spicy ', 'gluten',
       'dairy', 'tree nuts', 'peanuts_True', 'peanuts_False', 'eggs_True',
       'eggs_False', 'fish'],
      dtype='object')

Get list of column names containing certain string

Something with the index

Drop columm by column name

In [ ]:
features = data.drop([target], axis=1)
#Drop multiple columms by name
df_raw.drop(['sqft_above', 'sqft_basement', 'sqft_living15', 
                      'sqft_lot', 'sqft_lot15'], axis=1)

Drop column by certain data

Rename column

In [ ]:
df_raw.rename(index=str, columns={'sqft_living': 'sqft'}

Get value counts (number of instances of each value)

In [ ]:
df.value_counts()

Get value of a column for a given quantile

In [ ]:
df['price'].quantile(.99) #Get value of column at 99th percentile

Get subset of data which meets a given parameter for a given column

In [ ]:
# All rows of the DF for which the value of 
# a certain column is greater than, less than, 
# or equal to a given value
beds_10 = df_raw[df_raw['bedrooms'] >= 10]

AND & OR

Change data type for all values in a given column

In [ ]:
#'int', 'float', 'str', 'bool', 'category'
f_raw['sqft_basement'].astype('float')

"Get dummies": create new set of categorical columns for a given column

In [ ]:
water_dummies = pd.get_dummies(df_cat['waterfront'], prefix='water')

# Rows

Show a range of rows by index

In [ ]:
df_iter_rsqds.iloc[30:36]

Drop row by index

In [ ]:
df_raw.drop([8748, 15147, 15856, 19239])

Drop row by certain data

# Cells

In [ ]:
#.at()bb

Get value of a cell at a given row index in a given colum n

In [ ]:
df_raw['sqft_basement'][1]

Change data inside cell (in place)

Replace all instances of a given value with another

In [ ]:
f_raw['sqft_basement'].replace('?', 0)

In [ ]:
# All rows of the DF for which the value of 
# a certain column is greater than, less than, 
# or equal to a given value
beds_10 = df_raw[df_raw['bedrooms'] >= 10]